@use '../mixin' as m;

.portfolio-top {
  background-color: var(--color-bg);
  position: relative;
  width: 100%;
  min-height: 100vh;

  &__display {
    position: absolute;
    height: 1024px;
    left: 0;
    top: 0;
    width: 1440px;
  }

  &__slide {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 984px;
    left: 20px;
    top: 20px;
    width: 1224px;
  }

  &__inner {
    display: flex;
    gap: var(--space-md);
    height: 984px;
    align-items: flex-start;
    position: relative;
    flex-shrink: 0;
    width: 100%;
  }
}
